<a href="https://colab.research.google.com/github/jjeongab/comp4211_pa1/blob/main/comp4211_pa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)

In [ ]:
pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.22.4)

In [ ]:
pip install Scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from Scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from Scikit-learn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from Scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from Scikit-learn) (1.7.3)

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Part1: Processing Data

In [47]:
training_data = pd.read_csv("/train.csv")
training_data
training_data.shape

(7496, 21)

In [42]:
no_of_row = training_data.shape[0]
no_of_col = training_data.shape[1]
mean_val = training_data.mean(axis = 0) #mean values for each of the column 

iteration = 0
for column in training_data: #replace the null value to mean_value of the columns
  if column != 'is_safe':
    training_data[column] = training_data[column].replace(0.0, mean_val[column])
training_data

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,0.10,4.15,0.02,2.00,0.005,4.25,0.19,1.23,0.86,0.87000,...,0.019,16.16,1.18,0.007000,34.48,1.62,0.01,0.21,0.08,0.0
1,0.01,4.32,0.07,0.96,0.020,0.08,0.02,0.05,1.05,0.31683,...,0.196,6.73,0.16,0.003000,2.70,1.64,0.01,0.03,0.08,0.0
2,0.09,0.15,0.09,0.14,0.050,0.12,0.07,0.07,1.06,0.31683,...,0.061,1.71,1.00,0.005195,0.24,5.22,0.01,0.03,0.06,0.0
3,0.03,18.94,0.08,1.37,0.050,0.07,0.02,0.02,0.64,0.31683,...,0.005,1.16,0.89,0.001000,1.47,0.94,0.07,0.07,0.05,0.0
4,0.04,23.31,0.07,0.26,0.040,0.15,0.05,1.57,0.43,0.04000,...,0.089,14.90,0.73,0.005000,1.76,4.54,0.03,0.07,0.03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7491,0.07,12.95,0.07,0.63,0.020,0.02,0.08,1.11,1.19,0.31683,...,0.100,3.68,0.33,0.001000,5.36,0.99,0.04,0.02,0.02,0.0
7492,0.20,23.74,0.04,0.74,0.001,1.12,0.17,0.85,0.14,0.41000,...,0.183,13.53,1.37,0.010000,46.84,7.74,0.03,0.03,0.02,0.0
7493,0.07,12.95,0.07,0.63,0.020,0.02,0.08,1.11,1.19,0.31683,...,0.100,3.68,0.33,0.001000,5.36,0.99,0.04,0.02,0.02,0.0
7494,0.07,12.95,0.07,0.63,0.020,0.02,0.08,1.11,1.19,0.31683,...,0.100,3.68,0.33,0.001000,5.36,0.99,0.04,0.02,0.02,0.0
7495,0.07,12.01,0.08,0.18,0.080,0.10,0.06,0.10,0.02,0.49000,...,0.194,11.89,1.18,0.008000,8.78,1.50,0.06,0.08,0.02,0.0

In [45]:
training_data = training_data.drop_duplicates() #dropping the duplicates